 .tab_menu{position:relative;}
  .tab_menu .list{overflow:hidden;}
  .tab_menu .list li{float:left;}
  .tab_menu .list .btn{font-size:13px; margin-right:14px;}
  .tab_menu .list .cont{display:none; position:absolute; background:#555; color:#fff; text-align:center; width:250px; height:100px; line-height:100px;}
  .tab_menu .list li.is_on .btn{font-weight:bold; color:green;}
  .tab_menu .list li.is_on .cont{display:block;}
  
  h1{
 	font-size: 1.7rem;
 } 
.form-group{
	text-align: center;
	margin: auto; 
	padding: .3rem;
	display: flex;
	flex-direction: column;
 }
.card{
  width: 55rem;
  margin: auto;
  }
.card-header{
  width: 55rem;
  margin: auto;
  }
.btn-group{
	width: 30rem;
	justify-content: space-evenly;
 }