@charset "UTF-8";
h1{
 	font-size: 1.7rem;
 } 
.form-group{
	margin: auto; 
	display: flex;
	flex-direction: column;
	align-items: center;
 }
 .form-control{
	margin: auto; 
	align-items: center;
 }
.card{
  width: 45rem;
  margin: auto;
  }
.card-header{
  width: 45rem;
  margin: auto;
  }
.btn-group{
	width: 30rem;
	justify-content: space-evenly;
 }