<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinnotech.hotel.mapper.NoticeMapper">
	<resultMap type="com.sinnotech.hotel.dto.NoticeDTO"
		id="noticeDTO" autoMapping="true">
		<id property="id" column="id" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="endDate" column="end_dt" />
		<result property="createdAt" column="created_at" />
		<result property="deleteFlag" column="delete_flag" />
	</resultMap>
	<insert id="write">
		INSERT INTO
		notice
		( title, content, start_dt, end_dt, 
		created_at, updated_at)
		VALUES (
		#{notice.title}
		,#{notice.content}
		,#{notice.startDate}
		,#{notice.endDate}
		,NOW()
		,NOW()
		)
	</insert>
	<select id="getNoticeList" resultMap="noticeDTO">
		SELECT *
		FROM notice
		where delete_flag = false
	</select>
	<select id="getPagingNoticeList" parameterType="com.sinnotech.hotel.dto.Paging" resultMap="noticeDTO">
		SELECT *
		FROM notice
		where delete_flag = false
		ORDER BY Id
		LIMIT 20 OFFSET (#{paging.currentPage}-1)*20
	</select>
	<select id="getPagingNoticeListCount" resultType="int">
		SELECT COUNT(*)
		FROM notice
		where delete_flag = false
	</select>
	<select id="getNotice" resultMap="noticeDTO">
		SELECT *
		FROM notice
		WHERE id =
		#{id}
	</select>
	<update id="updateNotice">
		UPDATE
		notice 
		SET 
		title = #{notice.title},
		content = #{notice.content},
		end_dt = #{notice.endDate}
		WHERE 
		id = #{id}
	</update>
	<update id="updateListDelete">
		UPDATE
		notice 
		SET 
		delete_flag = true
		where
		id = #{notice.id}
	</update>
	<delete id="deleteNotice">
		delete FROM
		notice 
		where
		id = #{id}
	</delete>
</mapper>