<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinnotech.hotel.mapper.UserMapper">
<resultMap type="com.sinnotech.hotel.dto.UsersDTO" id="userDTO"
		autoMapping="true">
		<id property="id" column="id" />
		<result property="name" column="name" />
	</resultMap>
	<select id="getUserIDByBookContent"  resultType="int">
		SELECT id
		FROM users
		WHERE name LIKE '%${content}%'
	</select>
	
	<select id="getUsersInfoAllList"  resultMap="userDTO">
		SELECT *
		FROM users
		WHERE delete_flag = false
		ORDER BY id DESC
		Limit 10
		OFFSET 10*(#{page.currentPage}-1)
	</select>
	
	<select id="getUsersInfoList" resultMap="userDTO">
		SELECT *
		FROM users u
		WHERE 1=1
		<if test="page.searchType == 'name'">
		AND u.name like CONCAT('%',#{page.searchKeyword},'%')
		</if>
		<if test="page.searchType == 'phone'">
		AND u.phone like CONCAT('%',#{page.searchKeyword},'%')
		</if>
		<if test="page.searchType == 'email'">
		AND u.email like CONCAT('%',#{page.searchKeyword},'%')
		</if>
		AND u.delete_flag = false
		ORDER BY u.id DESC
		Limit 10 
		OFFSET 10*(#{page.currentPage}-1)
	</select>
	<select id="getUsersInfoListCount" resultType="int">
		SELECT COUNT(*)
		FROM users u
		WHERE 1=1
		<if test="page.searchType == 'name'">
		AND u.name like CONCAT('%',#{page.searchKeyword},'%')
		</if>
		<if test="page.searchType == 'phone'">
		AND u.phone like CONCAT('%',#{page.searchKeyword},'%')
		</if>
		<if test="page.searchType == 'email'">
		AND u.email like CONCAT('%',#{page.searchKeyword},'%')
		</if>
		AND u.delete_flag = false
	</select>
	<select id="getUsersInfoAllListCount" resultType="int">
		SELECT COUNT(*)
		FROM users
		WHERE delete_flag = false
	</select>
	
	<update id="deleteUser">
		UPDATE users
		SET delete_flag = true
		WHERE id = #{id}
	</update>
	<select id="checkUserById"  resultMap="userDTO">
		SELECT *
		FROM users
		WHERE id = #{id}
	</select>
	<update id="updateUserPassword">
		UPDATE users
		SET password = #{newPassword}
		WHERE id = #{id}
	</update>
	<select id="getUserInfoById"  resultMap="userDTO">
		SELECT *
		FROM users
		WHERE id = #{id}
	</select>
	<select id="checkUserDeleteFlagById"  resultMap="userDTO">
		SELECT *
		FROM users
		WHERE id = #{id}
		AND delete_flag = true
	</select>
	
</mapper>